#sideBar
  .side_header
    .user_info
      %p.user_name yikezawa
      %ul.user_menu
        %li 
          %a 
            %i{:class => "fa fa-edit"}
        %li
          %a
            %i{:class => "fa fa-cog"}
  .titles
    %a{:href => "#", :class => "title"}
      %div 
        %p.group_name ikezawa group
        %p.latest_post hello world
    %a{:href => "#", :class => "title"}
      %div 
        %p.group_name zawazawa group
        %p.latest_post world of order