#sideBar
  .side_header
    .user_info
      %p.user_name yikezawa
      %ul.user_menu
        %li 
          %a 
            %i.fa.fa-edit
        %li
          %a
            %i.fa.fa-cog
  .titles
    = link_to "#",{class: "title"} do
      %div
        %p.group_name ikezawa group
        %p.latest_post hello world
    = link_to "#",{class: "title"} do
      %div
        %p.group_name zawazawa group
        %p.latest_post konchiha