.wrapper
  = render 'side'
  .mainBody
    .bodyheader
      .threadTitle
        %p sample
        %ul.members
          Member:
          %li.members__list ike
          %li.members__list zawa
      .edit_bottom
        = link_to "Edit", "#"
    .contents
      .contents__post
        .contents__post__head
          %p.user_name yikezawa
          %p.date 2019/05/11(Sat) 19:00:38
        %p.contents__post__text こんにちは
      .contents__post
        .contents__post__head
          %p.user_name zawaike
          %p.date 2019/05/12(Sat) 19:33:38
        %p.contents__post__text こんばんわ
      .contents__post
        .contents__post__head
          %p.user_name zawaike
          %p.date 2019/05/12(Sat) 19:33:38
        %p.contents__post__text こんばんわ
      .contents__post  
        .contents__post__head
          %p.user_name zawaike
          %p.date 2019/05/12(Sat) 19:33:38
        %p.contents__post__text こんばんわ
      .contents__post
        .contents__post__head
          %p.user_name zawaike
          %p.date 2019/05/12(Sat) 19:33:38
        %p.contents__post__text こんばんわ
      .contents__post
        .contents__post__head
          %p.user_name zawaike
          %p.date 2019/05/12(Sat) 19:33:38
        %p.contents__post__text こんばんわ
    

    
    .form
      %form.newMessage{method:  "post"}
        %input{type: "hidden"}
        %input{type: "hidden"}
        .inputBox
          %input.inputBox__text{placeholder: "type a message"}
          %label.inputBox__label
            %i.fa.fa-image
            %input.inputBox__label__input{type: "file"}
        %input.new_submit_btn{type: "submit", value: "Send"}